extends layout
block content
    script.
        $(document).ready(function() {
            populateCategoryTable();
        });
    div.container
        div
            h1= title
        div
        #productsViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Name
                    th Description
                tbody
        // /USER LIST
