extends layout
block content
    script.
        $(document).ready(function() {
            populateCustomersTable();
        });
    div.container
        div
            h1= title
        div
        #tableViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Company Name
                    th Contact Name
                tbody
        // /USER LIST
