extends layout
block content
    script.
        $(document).ready(function() {
            populateEmployeesTable();
        });
    div.container
        div
            h1= title
        div
        #employeesViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Last Name
                    th First Name
                    th Title
                tbody
        // /USER LIST
