extends layout
block content
    script.
        $(document).ready(function() {
            populateEmployeesTable();
        });
    div.container
        div
            h1= title
        div
        #employeesViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Last Name
                    th First Name
                    th Title
                    th Title Of Courtesy
                    th Birth Date
                    th Hire Date
                    th Adress
                    th City
                    th Region
                    th Post Code
                    th Country
                    th Home Phone
                    th Extension
                    th Notes
                tbody
        // /USER LIST
