extends layout
block content
    script.
        $(document).ready(function() {
            populateOrderTable();
        });
    div.container
        div
            h1= title
        div
        #orderViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Date
                    th Name
                    th Address
                    th Edit
                    th Delete
                tbody
        // /USER LIST
