doctype html
html
  head
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/toastr.min.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/toastr.css')
    script(src='/javascripts/jquery.js')

  body
    div(class="modal fade",tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', id="confirm-delete")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header") Are you sure?
          div(class="modal-body") Are you sure you want to delete this? It is irreversible.
          div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            a.btn.btn-danger.danger(data-dismiss="modal") Delete

    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(id="menuHome" href="/") Home
                li
                    a(id="menuCategories" href="/categories") Categories
                li
                    a(id="menuProducts" href="/products") Products
                li
                    a(id="menuEmployees" href="/employee") Employees
                li
                    a(id="menuCustomers" href="/customers") Customers
    block content
    block footer
    include scripts