doctype html
html
  head
    title= title
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/toastr.min.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/toastr.css')
    script(src='/javascripts/jquery.js')

  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(id="menuHome" href="/") Home
                li
                    a(id="menuCategories" href="/categories") Categories
                li
                    a(id="menuProducts" href="/products") Products
                li
                    a(id="menuEmployees" href="/employee") Employees
                li
                    a(id="menuCustomers" href="/customers") Customers
    block content
    block footer
    include scripts