extends layout
block content
    script.
        $(document).ready(function() {
            fillOrderDetails();
        });
    div.container
        h1= title
    div
        p(id="ID")
        p(id="date")
        p(id="requ")
        p(id="ship")
        p
            |Employee:
            a(id="employee" href='#')
    div
        p
            |Name:
            a(id="name" href='#')
        p(id="addr")
        p(id="city")
        p(id="zip")
        p(id="country")
    div
        button(onclick='goBack()') Back
    div
        #productsViewer
            table(class="table table-striped table-hover")
                thead
                    th Product
                    th Unit Price
                    th Quantity
                    th Discount
                    th Price
                    th Edit
                    th Delete
                tbody


