extends layout
block content
    script.
        $(document).ready(function() {
            var ar = document.URL.split('/');
            if(ar[ar.length-1]==""){
            ar.splice(ar.length-1,1);
            }
            if(ar[ar.length-1]=='products'){
            populateProductsTable();
            }
            else if(isNaN(ar[ar.length-1])==false)
                    {
                        populateProductsTable(ar[ar.length-1]);
                    }

        });
    div.container
        div
            h1= title
        div
        #productsViewer
            table(class="table table-striped table-hover")
                thead
                    th ID
                    th Name
                    th CategoryID
                    th Unit Price
                    th Units in stock
                    th Quantity/unit
                    th Units in order
                    th Reorder Level
                tbody
        // /USER LIST
